
<!DOCTYPE html>
<html lang="en">
<head>
<script src="/assets/jquery.js"></script>
<link href='http://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps' rel='stylesheet' type='text/css' rel='stylesheet' type='text/css'>
<style>
nav {
 /* background-color: #dd95b6;*/

} 
li.active{
  font-family: 'Oleo Script Swash Caps', cursive;
  text-align: center;
  font-color: #bb2c6d;
  font-size: 20px;
/*  background-color: #dd95b6;*/
  img {
      margin: 40px 0px 0px 0px;
      border: 7px solid white;
      border-radius: 20px;
    }
 
}
</style>
  <title>BruGram</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Home</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">BruGram</a></li>
     <!--    <li><a href="#">Page 1</a></li>
        <li><a href="#">Page 2</a></li>
        <li><a href="#">Page 3</a></li> -->
      </ul>
    </div>
  </div>
</nav>

  