<%= render 'navbar' %>

<h2><%= link_to "Add your picture!", new_photo_path %> </h2>

<div class="container">
 <!--  <h3>Basic Navbar Example</h3> -->
  <p><% @photos.each do |photo| %></p>
  	<img><%= link_to image_tag(photo.image, :width => "40%", :height => "40%"), photo_path(photo) %></img>
	<p><%= photo.caption %></p>
	<p></p>
	 <% end %>
</div>

</body>
</html>

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/instafeed.min.js"></script>
<script type="text/javascript" src="js/app.js"></script>